@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:ital,wght@0,200;1,200&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Poppins:ital,wght@0,200;1,200&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;700&family=Kanit:wght@500&family=Lato:ital,wght@0,400;0,900;1,400;1,700&family=Poppins:ital,wght@0,200;1,200&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;700&family=Jost:wght@500&family=Kanit:wght@500&family=Lato:ital,wght@0,400;0,900;1,400;1,700&family=Poppins:ital,wght@0,200;1,200&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;700&family=Jost:wght@500&family=Kanit:wght@400;600&family=Lato:ital,wght@0,400;0,900;1,400;1,700&family=Poppins:ital,wght@0,200;1,200&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;700&family=Fira+Sans:wght@300;400;500&family=Jost:wght@500&family=Kanit:wght@400;600&family=Lato:ital,wght@0,400;0,900;1,400;1,700&family=Poppins:ital,wght@0,200;1,200&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	text-decoration: none;
	text-align: center;
}
/*--------------sticky header Starts Here-----------------------*/
.main-header{
	width: 100%;
	height: 80px;
    background-color:#F9F3DF;
	display: flex;
	top: 0;
	left: 0;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	box-shadow: 1px 0px 6px 0px grey;
    z-index:1000;
}
.main-header:hover{
	box-shadow: 0px 0px 4px 0px grey;
}
.main-header img{
	width: 70px;
	height: 70px;
	margin-top: 4px;
	margin-left: 3rem;

}
.navbar ul {
	list-style: none;
	display: flex;
	flex: 1;
	padding-top: 10px;
    margin-left: 40px;
}
.navbar ul li{
	padding: 12px 10px 10px 10px;
	position: relative;
}
.navbar ul li a{
	text-align: center;
	text-decoration: none;
	padding: 10px;
	color: #06113C;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	transition: all 0.3s;
}
.navbar ul li a:hover{
	color:rgb(239, 91, 12);
	border-radius: 30px;
}



/*---------------------------dropdown menu---------------------------------------*/
.dropdown_menu{
	display: none;
}
.navbar ul li:hover .dropdown_menu{
	position: absolute;
	display: block;
	left: 39px;
	top: 100%;
	background-color:#F9F3DF;
	text-align: center;
	z-index: 1000;
	padding-right: 20px;
}
.dropdown_menu ul{
	display: block;
	margin-left: 20px;
}
/*--------------------------------End of Drop-down Menu ------------------------------------------*/









/*----------------------------------navigation icon 3 bars----------------------------------------*/
.nav2{
	padding-right: 20px;
}
.nav2 a i {
	padding-top: 20px;
	display: none;
	font-size: 40px;
	text-align: center;
}
.nav2 a i:hover{
	color:rgb(239, 91, 12) ;
}
/*----------------------------------End of navigation icon 3 - bars



/*-----------------------------------End of Header Section---------------------------------------*/



/*-------------------------------------------Section-2-------------------------------*/
#section_2{
	width: 100%;
	padding: 70px 0;
    background: #fbE0c3;
}
.title-text{
	text-align: center;
	padding-bottom: 70px;
    
}

.title-text p{
	margin: auto;
	font-size: 20px;
	color: #000;
	font-style: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
}
/*
.title-text p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: azure;
	position: absolute;
	top: -20px;
	left: 0;
	z-index: -1;
	border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
*/
.title-text h1{
	font-size: 50px;
}

/*
.feature-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
    background: red;
}
*/
.container_1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    flex-basis: 50%;
/*    background: red;*/
	
}
.img_1{
/*	flex-basis: 50%;*//*Try this flex-basis and work on it tomorrow*/
	margin: auto;
    background: aliceblue;
    margin-right: 50px;
    border-radius: 10px;
}
.img_1 img{
	width: 70%;
	border-radius: 10px;
    padding-left: 150px;
    
}
/*
.features h1{
	text-align: left;
	margin-bottom: 10px;
	font-weight: 100;
	color: #ff4dd2;

}
*/
.content_1{
	display: flex;
    position: relative;
	align-items: center;
	margin-bottom: 0px;
    background: azure;
    margin-right: 100px;
    margin-left: 30px;
    border-radius: 20px;
    padding: 15px;
}
/*
.feature-icon .fa{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	color: #ff4dd2;
	border: 1px solid #ff4dd2;
}
*/
.content_1 p{
	padding: 0 0px;
	text-align: initial;
    font-family: sans-serif;
    font-size: 25px;
    
}
/*-------------------------------Section-2 ends---------------------------*/

/*----------------------------Section-3 starts-------------------------------------*/

/*--Features--*/
#section_3{
	width: 100%;
	padding: 70px 0;
    background: #ffbb98;
}
.title-text{
	text-align: center;
	padding-bottom: 70px;
    
}

.title-text p{
	margin: auto;
	font-size: 20px;
	color: #000;
	font-style: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
}
/*
.title-text p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: azure;
	position: absolute;
	top: -20px;
	left: 0;
	z-index: -1;
	border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
*/
.title-text h1{
	font-size: 50px;
}

/*
.feature-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
    background: red;
}
*/
.container_2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    flex-basis: 50%;
	
}
.img_2{
/*	flex-basis: 50%;*//*Try this flex-basis and work on it tomorrow*/
	margin: auto;
    background: azure;/*#333*/
    margin-right: 50px;
    border-radius: 10px;
}
.img_2 img{
	width: 70%;
	border-radius: 10px;
    padding-left: 150px;
    
}
/*
.features h1{
	text-align: left;
	margin-bottom: 10px;
	font-weight: 100;
	color: #ff4dd2;

}
*/
.content_2{
	display: flex;
    position: relative;
	align-items: center;
	margin-bottom: 0px;
    background: azure;
    margin-right: 100px;
    margin-left: 30px;
    border-radius: 20px;
    padding: 15px;
    
}
/*
.feature-icon .fa{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	color: #ff4dd2;
	border: 1px solid #ff4dd2;
}
*/
.content_2 p{
	padding: 0 0px;
	text-align: initial;
    font-family: sans-serif;
    font-size: 25px;
    
}

/*---------------------------------------------------------Section-3 Ends-------------------------------------------*/

/*--------------------------------------------Facad,president,vice-president talks---------------------------------------------*/
#Section_3{
	width: 100%;
	padding: 70px 0;
    background: #2a403d;/*tRY tHEM:#FFBB98,#c3c8d6,#748b6f*/
}
.Section_3-Row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.Section_3-Col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 5px 3px azure ;
	cursor: pointer;
	transition: transform 0.5s;
}
.Section_3-Col p{
	font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
}
.user{
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.user img{
	width: 40px;
	margin-right: 20px;
	border-radius: 3px;
}
.user-info .fa{
	margin-left: 10px;
	color: #27c0ff;
	font-size: 20px;
}
.user-info {
	color: aliceblue;/*TRY THESE:#ff4dd2*/
}
.Section_3-Col:hover{
	transform: translateY(-7px);
}
@media screen and (maxwidth: 770px){
	.Section_3-Col{
		flex-basis: 100%;
	}
}
/*--------------------------------------------Facad,president,vice-president talks --------ENDS---------------------------------*/


/*----------------------------------- Articles Section ENNERRGIA---------------------------------------*/

#Section_4{
     width: 100%;
     padding: 70px 0;
     background: #efefef;
}
.Section_4-Container{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.Section_4-Box{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
}
.Section_4-Box img{
	width: 100%;
	border-radius: 7px;
}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5),#7d8e95);/*try this:#ff4dd2,#fbe073*/
	opacity: 0;
	transition: 1s;
}
.Section_4-Box:hover .overlay{
	opacity: 1;
}
.Section_4-Description{
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 1s;

}
.Section_4-Box h3
{
    font-size: 25px;
}
.Section_4-Box p
{
    font-size: 20px;
}
hr{
	background: #fff;
	height: 2px;
	border-radius: 0;
	margin: 15px auto;
	width: 60%;
}
.Section_4-Description{
	font-size: 14px;
}
.Section_4-Box:hover .Section_4-Description{
	bottom: 40%;
	opacity: 1;
}
.Section_4-Container .Section_4-Box .Section_4-Description a
{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 10px;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 500;
}
.Section_4-Container .Section_4-Box .Section_4-Description a:hover
{
    background: #262626;
    color:#fff;
}

.btn-2 a
{
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    margin-top: 15px;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 500;
    font-size: 25px;
    transition: 1s;
}
.btn-2 a:hover
{
    color: #fff;
    background: #000;
    
}

/*
.card .details .content a
{
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 10px;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 500;
}
.card .details .content a:hover
{
    background: #262626;
    color:#fff;

}
*/
@media screen and (maxwidth: 770px){
	.Single-Service{
		.flex-basis: 100%;
		margin-bottom: 30px;
	}
	.Service-Description p{
        font-size: 12px;
	}
	hr{
		margin: 5px auto;
	}
	.Single-Service:hover .Service-Description{
		bottom: 25% !important;
	}
}
/*----------------------------------- Articles Section ENNERRGIA ENDS---------------------------------------*/


/*-------------------------------------Footer-section-starts-----------------------------------------------*/
.footersec{
	width: 100%;
	display:flex;
	justify-content: space-between;
	background-color:#050A30;
	height: 220px;
}
.fdiv1{
	width: 300px;
	margin-left:20px ;
}
.fdiv1 ul li{
	padding-top: 10px;
	list-style:none;
}
.fdiv1 ul li a{
	font-size: 20px;
	padding-top: 20px;
	color: #A4E8E0;
	text-decoration: none;
	cursor: pointer;
}
.fdiv1 ul li p{
	color: #F8C0C8;
}
.fdiv2 ul{
	height: 200px;
	width: 500px;
	padding-top: 12px;
	list-style: none;
	margin-left: -50px;
}
.fdiv2 ul li{
	padding-top:10px;
}
.fdiv2 ul li a {
	color: #EDEDED; 
	font-size: 23px;
	text-decoration: none;
	cursor: pointer;
}
.fdiv2 ul li a:hover{
	color: #FFE3A9; ;
}
.fdiv3{
	width:200px;
	padding-top: 30px;
	
}
.fdiv3 ul li{
	padding-top:10px;
	margin-left: -100px;
	list-style: none;
}
.fdiv3 ul li a{
	color: #EDEDED;
	font-size: 30px;
	padding-left:0px;
	margin-left: -70px;
	cursor: pointer;
	
}
.fdiv3 ul li a:hover{
color: #FFE3A9; 
}
/*---------------------------Footer-Section-End----------------------------------------*/


